{% extends 'homebase.html.twig' %}


{% block title %} Contact | {{ setting.title }}{% endblock%}
{% block keyword %}{{ setting.keyword }}{% endblock%}
{% block desceription %}{{ setting.desceription }}{% endblock%}


{% block sidebar %}
	{% include 'home/sidebar.html.twig' %}
{% endblock %}

{% block content %}
	<!-- Contact Start -->
	<div class="container-fluid pt-5">
		<div class="text-center mb-4">
			<h2 class="section-title px-5">
				<span class="px-2">Contact Formu</span>
			</h2>
		</div>
		<div class="row px-xl-5">
			<div class="col-lg-7 mb-5">
				<div class="contact-form">
					<div id="success"></div>
					{% for label, messages in app.flashes %}
						{% for message in messages %}
							<div class="alert alert-{{ label }}">
								Mesajınız başıryla gönderildi
							</div>
						{% endfor %}
					{% endfor %}


					{{ form(form) }}
					</div>
				</div>
				<div class="col-lg-5 mb-5">
					<h5 class="font-weight-semi-bold mb-3">İletişim Bilgileri</h5>
					{{ setting.contact | raw }}
				</div>
			</div>
		</div>
		<!-- Contact End -->

	{% endblock %}
